hr {
border-top: 1px solid rgba(102,128,153,0.6);
}
img {
max-width: 100%;height: auto;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
.circular-corner {
  border-radius: 15px;
}
.fixed-right-top{
    position: fixed;
    right: 0;
    z-index: 9999;
}
.wrapper {
    padding: 10px 10px 20px 10px;
    margin: 5px 0 15px;
    background-color: rgba(255,255,255,0.96);
    border: 1px solid rgba(0,0,0,0.16667);
    box-shadow: 0 1px 10px rgba(0,0,0,0.33333);
}
.font-lg {
    font-size: 180%;
}
.font-md {
    font-size: 150%;
}
.font-sm {
    font-size: 120%;
}
.fixed-background {
    background-image: url(/css/background-img.jpg);
    width:100%;
    height:100%;
    position:fixed;
    z-index:-999;
}
.clear-background {
  background: none;
}
