pygments: true
markdown: redcarpet
redcarpet:
  extensions:
    - hard_wrap
    - no_intra_emphasis
    - autolink
    - strikethrough
    - fenced_code_blocks
globalTitle: "雨夜"
globalDesc: "初从文，三年不中；后习武，校场发一矢，中鼓吏，逐之出；遂学医，有所成，自撰一良方，服之，卒。"
author: "雨夜"
skin: "info"
