<footer class="">
  <div class="container">
    <div class="row">

        <span class="word-keep">
          <a href="mailto:{{ site.email }}" target="_blank"><span class="octicon octicon-mail"></span>&nbsp;{{ site.email }}</a>
        </span>

        <span class="word-keep">
          <span class="point"> · </span>
          <a href="https://github.com/{{ site.github_username }}" target="_blank"><span class="octicon octicon-mark-github"></span>&nbsp;Github</a>
        </span>

        <span class="word-keep">
          <span class="point"> · </span>
          <a href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank"><span class="octicon octicon-rss"></span>&nbsp;RSS</a></span>
        </span>

        <span class="word-keep">
          <span class="point"> · </span>
          <span>&copy; RainyNight</span>
        </span>

        <span class="word-keep">
          <span class="point"> · </span>
          <span>Designed by <a href="https://github.com/Gaohaoyang" target="_blank">HyG</a></span>
        </span>

    </div>
  </div>
</footer>