---
layout: page
title: Tags
permalink: /tags/
icon: octicon-tag
---

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="octicon octicon-list-unordered"></span>&nbsp;Tags
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for tag in site.tags %}
        <li>
            <a href="#{{ tag | first }}" class="categories-list-item" cate="{{ category | first }}">
                {{ tag | first }}&nbsp;<span class="my-badge">{{ tag | last | size }}</span>
            </a>
        </li>

        {% endfor %}
    </ul>
</div>

{% for tag in site.tags %}
<div id="{{ tag | first }}" class="tag-item">
    <h1>{{ tag | first }}</h1>
    {% for posts in tag  %}
    {% for post in posts %}
    {% if post.url %}
    <div class="tag-post-item">
        <div class="post-list-item-module">
            <a class="post-list-item-date" href="{{ site.baseurl }}/archive/#{{ post.date | date: '%Y-%m-%d' }}"><span class="octicon octicon-calendar"></span>&nbsp;<span>{{ post.date | date: "%Y-%m-%d" }}</span></a>
            <a class="post-list-item-title" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% endfor %}