---
layout: page
title: Tag
permalink: /tags/
icon: octicon-tag
styles: [article-list.css, category.css, tagCloud.css, tags.css]
scripts: [tagCloud.js, tags.js]
isNavItem: true
---

<div class="tags-header">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="octicon octicon-list-unordered"></span>&nbsp;Tags
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for tag in site.tags %}
            <li>
                <a href="#{{ tag | first }}" class="categories-item" cate="{{ category | first }}">
                    {{ tag | first }}&nbsp;<span class="categories-badge">{{ tag | last | size }}</span>
                </a>
            </li>

            {% endfor %}
        </ul>
    </div>
    <div class="tagCloud">
        {% for tag in site.tags %}
        <a href="#{{ tag | first }}">{{ tag | first }}</a>
        {% endfor %}
    </div>
</div>
<div>
{% for tag in site.tags %}
<section id="{{ tag | first }}">
    <h2>{{ tag | first }}</h2>
    {% for posts in tag  %}
    {% for post in posts %}
    {% if post.url %}
    <article >
        <div class="module">
            <header>
                <a href="{{ site.baseurl | prepend: site.url  }}/archive/#{{ post.date | date: '%Y-%m-%d' }}"><span class="octicon octicon-calendar"></span>&nbsp;<span>{{ post.date | date: "%Y-%m-%d" }}</span></a>
            </header>
            <a class="title" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                {{ post.title }}
            </a>
        </div>
    </article>
    {% endif %}
    {% endfor %}
    {% endfor %}
</section>
{% endfor %}
</div>