<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
    <link rel="icon" href="/css/favicon.ico">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{{ page.title }},{% for category in page.categories %}{{ category }},{% endfor %}{% for tag in page.tags %}{{ tag }},{% endfor %}">
    <meta name="description" content="{{ page.title }} {% for category in page.categories %}{{ category }} {% endfor %}{% for tag in page.tags %}{{ tag }} {% endfor %}">
    <meta name="author" content="{{ site.author }}">
    <title>{{ page.title }}</title>
</head>
<body>
<!-- 背景 -->
<div class="fixed-background"></div>
<!-- << 顶部导航条,手机屏幕不显示 -->
<nav class="navbar navbar-fixed-top hidden-xs" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-pills hidden-xs pull-right" >
                            <li role="presentation"><a href="/" title="Categories" class="font-md title"><span class='glyphicon glyphicon-menu-hamburger'></span></a></li>
                            <li role="presentation"><a href="#" title="Tags" class="font-md title"><span class='glyphicon glyphicon-tags'></span></a></li>
                            <li role="presentation"><a href="#" title="Archive" class="font-md title"><span class='glyphicon glyphicon-book'></span></a></li>
                            <li role="presentation"><a href="#" title="About" class="font-md title"><span class='glyphicon glyphicon-user'></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav >
<!-- 导航条的半透明底座 -->
<div class="hidden-xs" style="background-color:rgba(0,0,0,.3); width:100%; min-height:50px; z-index:999; position:fixed; border-radius:4px;"></div>
<!-- 一个垫子,用来产生正文与导航条的间隔 -->
<div class="pad hidden-xs"></div>
<!-- >> 顶部导航条,手机屏幕不显示 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 overspread">
            <!-- << 只在手机端显示的菜单 -->
            <div class="hidden-lg hidden-md hidden-sm">
                <a href="#" class="btn btn-sm glyphicon glyphicon-option-vertical fixed-right-top" data-toggle="collapse" data-target="#nav-collapse"></a>
                <div id="nav-collapse" class="collapse">
                　　<div class="container-fluid">
                　　    <div class="row">
                            <a href="#" title="About" class="col-xs-3 text-center  font-lg title"><span class='glyphicon glyphicon-user'></span></a>
                            <a href="#" title="Archive" class="col-xs-3 text-center font-lg title"><span class='glyphicon glyphicon-book'></span></a>
                            <a href="#" title="Tags" class="col-xs-3 text-center  font-lg title"><span class='glyphicon glyphicon-tags'></span></a>
                            <a href="/" title="Categories" class="col-xs-3 text-center font-lg title"><span class='glyphicon glyphicon-menu-hamburger'></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- >> 只在手机端显示的菜单 -->
            <div class="wrapper circular-corner {% if page.url == '/index.html' %}clear-background{% endif %}">
                {% if page.url != "/index.html" %}
                    <h2 class="text-center">{{page.title}}</h2>
                    <h5 class="text-success text-center">{{ page.date | date_to_string }}</h5>
                    <hr>
                    {% if page.next.url != null and page.next.url != '' %}
                        <a href="{{ page.next.url }}" class="btn btn-lg glyphicon glyphicon-menu-left circular-corner fixed-left title pager-btn"></a>
                    {% endif %}
                    {% if page.previous.url != null and page.previous.url != '' %}
                        <a href="{{ page.previous.url }}" class="btn btn-lg glyphicon glyphicon-menu-right circular-corner fixed-right title pager-btn"></a>
                    {% endif %}
                {% endif %}
                {{ content }}
            </div>
            <div class="pad hidden-xs"></div>
        </div>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/scripts/custom.js"></script>
</body>
</html>
