<!DOCTYPE html>
　　<html>
　　<head>
　　	<!-- 代码高亮 -->
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
　　</head>
　　<body>
　　	<div class="container">
  		<h3>{{page.title}}</h3>{{ page.date | date_to_string }}
  		<div>
  			{{ content }}	
  		</div>
  	 	<div class="text-center">
    			<button type="button" class="btn btn-primary" onclick="window.location='/'">首页</button>
			<button type="button" class="btn btn-primary" onclick="window.location='#'">顶部</button>
  		</div>
	</div>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
　　</body>
　　</html>
