<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" >
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
	<link rel="icon" href="/css/favicon.ico">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ page.title }}</title>
</head>
<body>
　　	<div class="container-fluid">
　　	    <div class="row">
	        <div class="col-lg-8 col-lg-offset-2">
	            <h2>{{page.title}} <a href="/" class="btn btn-success btn-sm float-right">home</a></h2>
	            {{ page.date | date_to_string }}
	            <hr/>
	            <div>
	                {{ content }}
	            </div>
	                <nav>
	                    <ul class="pager">
	                        <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> 首页</a></li>
	                        <li class="next"><a href="#">顶部 <span aria-hidden="true">&rarr;</span></a></li>
	                    </ul>
	                </nav>
	        </div>
	    </div>
	</div>
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
