---
layout: default
---
<div class="row">
  <div class="col-sm-9 myArticle">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>
      <div class="bdsharebuttonbox">
          <a href="#" class="bds_more" data-cmd="more"></a>
          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
          <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
          <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
          <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
      </div>
    </div>
    <div class="post-area post comment">
      <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
    </div>
  </div>

  <div class="col-sm-3 content-navigation">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div class="shadow-bottom-center myAffix hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-navigation-text"></div>
    </div>
  </div>
</div>